@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #ffa500;
    --secondary-color: #1e1e1e;
    --text-color: #fff;

    --transition: all 0.3s ease;

    --title-font: 'Montserrat', sans-serif;
    --body-font: 'Quicksand', sans-serif;
    --Nav-Font: 'Poppins', 'sans-serif';

    --defualt-font-size: 16px;

    --max-width: 1200px;

    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

header {
    margin: 15px;
    background-color: #1a1a1a;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
    color: #ffa500;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: #ffa500;
    color: #1a1a1a;
}

header nav ul li a i {
    font-size: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   border-bottom: 1px solid #ffa500;
    text-align: center;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #ddd;
}

.hero-content button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    

}

.hero-content button:hover {
    background-color: #ff8c00;
}

section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    font-family: var(--title-font);
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 40px;
}

.features-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(15, 9, 9, 0.2);
}

.feature i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffa500;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
}

.contact form button {
    padding: 10px 20px;
    background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact form button:hover {
    background-color: #ffa500;
}

.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.btnBox {
    align-items: center;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-bottom: 30px;
}

.games input {
    font-family: Poppins;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    width: 70%;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.games input:focus {
    width: 79%;
    color: #fff;
}

.games button {
    padding: 10px 20px;
    background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}
.game img {
    width: 15rem;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.games button:hover {
    background-color: #ffa500;
}

.games .game {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s;
}


.title {
    color: var(--text-color);
    font-family: var(--title-font);
    text-align: center;
    margin: 20px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#proxy_search {
    padding: 15px;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: #1e1e1e;
        color: #fff;
        width: 70%;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        text-align: center;
        font-family: Poppins, sans-serif;
        transition: all 0.3s ease-in-out;
}

#engine_popup {
    display: none;
    z-index: 9999;
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s;
}

#engine_popup h3 {
    color: var(--text-color);
    font-family: var(--title-font);
    text-align: center;
    margin: 20px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#engine_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
}

#engine_list button {
    padding: 10px 20px;
    background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

#engine_list button:hover {
    background-color: var(--primary-color);
}

.settings-container {
    align-items: center;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-bottom: 30px;
}

.setting p {
    padding:0;
    margin:0;
}

.setting {
        background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            transition: transform 0.3s;
    border: 1px solid #333;
    height: 300px;
}

.setting h3 {
    color: var(--text-color);
    font-family: var(--title-font);
    text-align: center;
    margin: 20px;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.setting input {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    width: 70%;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-family: var(--body-font);
    }

.setting input:focus {
    border-color: var(--primary-color);
}

.setting input::placeholder {
    font-family:var(--body-font);
        color: #fff;
        font-weight: 600;
}

.setting button {
    padding: 10px 20px;
    background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.setting button:hover {
    background-color: var(--primary-color);
}

#loginPopup {
    color: #000;
    display: none;
    z-index: 9999;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s;
}

#loginPopup h1 {
    color: #000;
    font-family: var(--title-font);
    text-align: center;
    margin: 5px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#loginPopup input {
    font-family: var(--body-font);
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#loginPopup input:focus {
    transform: scale(1.05);
}

#loginPopup button {
    padding: 10px 20px;
    background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

#loginPopup button:hover {
    background-color: var(--primary-color);
}

#loginPopup p {
    color: #000;
    margin: 0;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

#ads-container {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    text-align: center;
}

.ad {
    border: 1px solid #ccc;
        padding: 20px;
        background: white;
        width: 300px;
        opacity: 0;
        transform: translateX(-100%);
        animation: slide-in 1s forwards;
    border-radius: 5px;
}

.ad a {
    text-decoration: none;
    text-align: center;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
